@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  color: white;
}

html,
body,
:root {
  height: 100%;
  background-color: #082f49;
}

@layer base {
  :root {
    --background: "#172554";
    --foreground: "yellow";
  }

  .dark {
    --background: "yellow";
  }
}
